---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Player from "./icons/Player.astro"
import LinkButton from "./LinkButton.astro"
import Spring from "./icons/Spring.astro"
import React from "./icons/React.astro"
import TypeScript from "./icons/TypeScript.astro"
import JWT from "./icons/JWT.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SPRING: {
    name: "Spring Boot",
    class: "bg-[#004a00] text-white",
    icon: Spring,
  },
  REACT: {
    name: "React JS",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#006752] text-white",
    icon: TypeScript,
  },
    JWT: {
    name: "JWT",
    class: "bg-[#313937] text-white",
    icon: JWT,
  },
}

const PROJECTS = [
{
    title: "WoodWork - Conecta espacios de coworking con profesionales",
    description:
      "Plataforma que busca conectar a trabajadores independientes, emprendedores y pequeñas empresas con espacios de coworking disponibles.",
    /* link: "https://woodwork-one.vercel.app/", */
    demo: "https://youtu.be/Ez0-VTziXIk",
    github: "https://github.com/MatiasNicolasAcevedo/s15-17-t-java-angular",
    image: "../public/projects/woodwork.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.SPRING, TAGS.JWT],
  },
  {
    title: "Aware Gaming - Plataforma de juego responsable y consciente",
    description:
      "Plataforma de juegos de casino. Destinado a ayudar a personas que enfrentan dificultades con el juego y las apuestas.",
    /* link: "https://aware-gaming.web.app/", */
    demo: "https://youtu.be/3QSkQjY1r84",
    github: "https://github.com/MatiasNicolasAcevedo/s14-18-t-java",
    image: "../public/projects/aware-gaming.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.SPRING, TAGS.JWT],
  },
  {
    title: "Ecopay - La Billetera Virtual Ecológica",
    description:
      "Ecopay es mucho más que una simple billetera virtual. Es una solución revolucionaria creada con un enfoque ecológico.",
    /* link: "https://s13-21-ft-java.vercel.app/", */
    demo: "https://youtu.be/6adbtEd6JE0",
    github: "https://github.com/MatiasNicolasAcevedo/s13-21-ft-java",
    image: "../public/projects/ecopay.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.SPRING, TAGS.JWT],
  },
  {
    title: "Airbnb Clone - Plataforma de juego responsable y consciente",
    description:
      "Este proyecto es un clon de Airbnb. Una plataforma robusta para la gestión de propiedades y reservas.",
    /* link: "c15-33-ft-java-react.vercel.app", */
    demo: "https://youtu.be/30RxYVl8nh8",
    github: "https://github.com/MatiasNicolasAcevedo/c15-33-ft-java-react",
    image: "../public/projects/clon-airbnb.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.SPRING, TAGS.JWT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, demo, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap  flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {demo && (
            <LinkButton href={demo}>
              <Player class="size-4" />
              Demo
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



